# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
~AutoRecover*

# Precompiled Headers
*.gch
*.pch
*.db

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.tlog
*.ipch
*.db-shm
*.db-wal
*.log
*.idb
*.ilk
*.suo
*.config
*.enc
*.VC.opendb

*.user
*.ncrunchproject
*.json
*.assert.cache
*.iml
*.props

*.cache
*.Analyzer.Test.Assets.cache
*.Analyzer.Test*cache
.csprojAssemblyReference.cache

*.build.props


# Executables
*.exe
*.out
*.app
*.pdb
/Learning/.vs
/Learning/.idea
/Learning/CMakeProject/.idea
/TestCPP/Debug
/TestCPP/.vs/TestCPP/v15/Server/sqlite3
/Learning/.vs/Learning/v15/Server/sqlite3
/Learning/Debug
/Learning/XamarinIOS/obj
/Learning/.vs/Learning/DesignTimeBuild/.dtbcache/Learning/NuGetPackage/NPack/ShIpHandlerPackage/obj
/Learning/CodeStandAnalysisApp/obj
/Learning/CodeRefactoring/CodeRefactoring/obj
/Learning/CodeRefactoring/CodeRefactoring.Vsix/obj
/Learning/Analyzer/Analyzer/obj
/Learning/Analyzer/Analyzer.Test/obj

