# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
~AutoRecover*

# Precompiled Headers
*.gch
*.pch
*.db

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.tlog
*.ipch
*.db-shm
*.db-wal
*.log
*.idb
*.ilk
*.suo
*.config
*.enc
*.VC.opendb


# Executables
*.exe
*.out
*.app
*.pdb
/TestCPP/Debug
/TestCPP/.vs/TestCPP/v15/Server/sqlite3
